<html>
  <head>
    <script src="index.js"></script>
  </head>
  <body>
    <h1>Velkommen til!</h1>
    
    <form id="delete">
      <input value="Delete" type="submit" />
          
      <!-- Her vil jeg tilføje register knappen-->
      <input type="button" onclick="location.href='/register.html';" value="Log out" />


        <!-- Her vil jeg tilføje "Sælg vare" knappen-->
      <input type="button" onclick="location.href='/items.html';" value="Sælg vare" />
  
        <!-- Her vil jeg lave en knap der vil føre videre til de solgte vare-->
      <input type="button" onclick="location.href='/itemsSell.html';" value="Se solgte vare" />  
      
        <!-- Her vil jeg tilføje opdater knappen -->
      <input type="button" id= "opdater" onclick="location.href='/Opdater.html';" value="Opdater bruger" />

    </form>
  </body>
</html>
