 <!-- Her vil jeg lave min HTML hjemmeside for når jeg sætter en vare til salg-->
<html>
  <script src="items.js"></script>
<head>
</head>
<body>
    <h1>Sælg vare</h1>

    <form id="formVare">
      <label for="vare">Produkt</label>
      <input type="text" id="vare" placeholder="Navn på produkt"/>

      <label for="vareKategori">Varekategori</label>
      <select name="vareKategori" id="vareKategori" >
        <option value="Taske" >Taske</option>
        <option value="Tøj" >Tøj</option>
        <option value="Sko" >Sko</option>
      </select>

      <label for="pris">Pris</label>
      <input type="number" id="pris" placeholder="Pris"/>

      <button type="submit">Submit</button>
    </form>
      <input type='file' />
      <br><img id="myImg" src="#" alt="Indsæt billede" height=200 width=200/>

    
</body>
</html>