<!DOCTYPE html>
<html lang="en">
  <head>
    <script src= "../views/index.html"></script>
<script src="Opdater.js"></script>
  </head>
  <body>
    <h1>Opdater dit password og email</h1>
    <label id="form">Email: </label> <br>
      <input type="email" name="email" id="newEmail" placeholder="Skriv din nye Email">

      <label>Password:</label>
      <input type="password" name="password" id="newPassword" placeholder="Skriv dit nye Password">

    <button id= "update" value="Submit" type="submit" onclick="updateUser()" class="profile-btn">0pdater</button>
  </body>
</html>
